@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@if (_authorizationService.User is null)
{
    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="min-height: 100vh;">
        <MudPaper Elevation="25" Class="pa-8 ma-8" Style="width: 500px;">
                @Body
        </MudPaper>
    </MudContainer>
}
else
{
    <MudLayout>
        <MudAppBar Elevation="4" Color="Color.Primary">
            <MudIcon Icon="@Icons.Outlined.LocalTaxi" Size="Size.Large" />
            <MudText Typo="Typo.h6" Class="ml-4">AutoStoper</MudText>
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5" />
                <MudMenu EndIcon="@Icons.Filled.KeyboardArrowDown" Label="Podrška" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                    <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Zajednica</b></MudText>
                    <MudMenuItem Link="https://www.facebook.com/BlaBlaCarHrvatska" Target="_blank">Facebook stranica</MudMenuItem>
                    <MudMenuItem Link="https://www.linkedin.com/company/blablacar" Target="_blank">LinkedIn</MudMenuItem>
                    <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Resursi</b></MudText>
                    <MudMenuItem Link="https://mudblazor.com/" Target="_blank">MudBlazor dokumentacija</MudMenuItem>
                </MudMenu>
                <MudAppBarSpacer />

                @*<LanguageSelector />*@
                @*<MudTooltip Text="Tamni način">
                        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" />
                    </MudTooltip>*@
                <MudTooltip Text="Github">
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/asxcro" Target="_blank" />
                </MudTooltip>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <MudMenu Icon="@Icons.Filled.Settings" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true">
                    <div class="px-2">
                        <MudTooltip Text="Tamni način">
                            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" />
                        </MudTooltip>
                        <MudTooltip Text="Repozitorij">
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/asxcro" Target="_blank" />
                        </MudTooltip>
                    </div>
                    <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Zajednica</b></MudText>
                    <MudMenuItem Link="https://www.facebook.com/BlaBlaCarHrvatska" Target="_blank">Facebook stranica</MudMenuItem>
                    <MudMenuItem Link="https://www.linkedin.com/company/blablacar" Target="_blank">LinkedIn</MudMenuItem>
                    <MudText Typo="Typo.body2" Class="px-4 py-2"><b>Resursi</b></MudText>
                    <MudMenuItem Link="https://mudblazor.com/" Target="_blank">MudBlazor dokumentacija</MudMenuItem>
                </MudMenu>
            </MudHidden>
            <MudMenu Direction="Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                <ActivatorContent>
                    <MudAvatar Color="Color.Secondary">@FirstLetterOfName</MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <UserCard Class="mt-n2" />
                    <MudDivider Class="mb-2" />
                    <MudListItem Text="Račun" Href="/account" Icon="@Icons.Material.Outlined.Person" />
                    <MudListItem Text="Odjava" Icon="@Icons.Material.Filled.Logout" OnClick='() => _navigationManager.NavigateTo("/logout")' />
                </ChildContent>
            </MudMenu>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
            <NavMenu />
        </MudDrawer>
        <MudMainContent>
            <MudToolBar DisableGutters="true">
                <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
            </MudToolBar>
            <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>

}
