@page "/ponuda"

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex align-center" Style="min-height: 50vh;">
    <MudPaper Elevation="25" Class="pa-8" Style="width: 100%;">
        <StepProgress collection="collection" activeItemInCollection="activeKey" />
        <MudGrid>
            @switch (activeKey)
            {
                case 1:
                    <MudItem xs="12">
                        <div class="d-flex justify-center py-8">
                            <MudDatePicker Label="Odaberite datum" @bind-Date="date" DisableToolbar="true" HelperText="Datum" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-center py-8">
                            <MudTimePicker Label="Vrijeme" AmPm="false" @bind-Time="time" />
                        </div>
                    </MudItem>
                    break;
                case 2:
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <div id="mapPolaziste" style="height: 300px; width: 100%">
                            </div>
                        </div>
                    </MudItem>
                    break;
                case 3:
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <div id="mapOdrediste" style="height: 300px; width: 100%">
                            </div>
                        </div>
                    </MudItem>
                    break;
                case 4:
                    <MudItem xs="12">
                        <div class="d-flex justify-space-between">
                            <MudNumericField @bind-Value="LjudiUAutu" Label="Mjesta u autu" Variant="Variant.Outlined" Step="1" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-space-between">
                            <MudSwitch @bind-Checked="@KucniLjubimci" Label="Kućni ljubimci dopušteni" Color="Color.Primary" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-space-between">
                            <MudSwitch @bind-Checked="@Pusenje" Label="Dozvoljeno pušenje" Color="Color.Primary" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-space-between">
                            <MudSwitch @bind-Checked="@Glazba" Label="Glazba u autu" Color="Color.Primary" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-space-between">
                            <MudSwitch @bind-Checked="@AutomatskoOdobrenje" Label="Automatsko odobrenje" Color="Color.Primary" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-space-between">
                            <MudNumericField @bind-Value="Cijena" Label="Cijena prijevoza (kn)" Variant="Variant.Outlined" Step="1" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <div id="mapRoute" style="height: 300px; width: 100%">
                            </div>
                        </div>
                    </MudItem>

                    if (Ruta is not null)
                    {
                        <MudItem xs="12">
                            <MudTextField Variant="Variant.Outlined" @bind-Value="Ruta.Polaziste" Label="Polazište" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Variant="Variant.Outlined" @bind-Value="Ruta.Odrediste" Label="Odredište" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Variant="Variant.Outlined" @bind-Value="Ruta.Distanca" Label="Distanca (km)" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField Variant="Variant.Outlined" @bind-Value="Ruta.Vrijeme" Label="Vrijeme (min)" />
                        </MudItem>
                    }
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <MudButton OnClick="ObjaviPrijevoz">Objavi prijevoz</MudButton>
                        </div>
                    </MudItem>
                    break;
                default:
                    break;
            }
            <MudItem xs="12">
                <div class="d-flex justify-space-between">
                    <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowLeft" Size="Size.Large" @onclick="SetPreviousItemActive"></MudIcon>
                    <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowRight" Size="Size.Large" @onclick="SetNextItemActive"></MudIcon>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>


