@page "/pretrazi"

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex align-center" Style="height: 70vh;">
    <MudPaper Elevation="25" Class="pa-8" Style="width: 100%;">
        <StepProgress collection="collection" activeItemInCollection="activeKey" />
        <MudGrid>
            @switch (activeKey)
            {
                case 1:
                    <MudItem xs="12">
                        <div class="d-flex justify-center py-8">
                            <MudDatePicker Label="Odaberite datum" @bind-Date="date" DisableToolbar="true" HelperText="Datum" />
                        </div>
                    </MudItem>
                    break;
                case 2:
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <div id="mapPolaziste" style="height: 300px; width: 100%">
                            </div>
                        </div>
                    </MudItem>
                    break;
                case 3:
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <div id="mapOdrediste" style="height: 300px; width: 100%">
                            </div>
                        </div>
                    </MudItem>
                    break;
                case 4:
                    if (Voznje?.Count < 1)
                    {
                        <MudItem xs="12">
                            <div class="d-flex justify-center">
                                <MudText>Nema rezulata.<MudLink Href="/index"> Početna stranica</MudLink></MudText>
                            </div>
                        </MudItem>
                    }
                    else
                    {
                        if (Voznje is not null)
                            foreach (var item in Voznje)
                                if (item is not null)
                                {
                                    <MudPaper Outlined="true" Class="pa-16" Style="width: 100%;">
                                        <MudCard>
                                            <MudCardHeader>
                                                <CardHeaderAvatar>
                                                    <MudAvatar Color="Color.Secondary">I</MudAvatar>
                                                </CardHeaderAvatar>
                                                <CardHeaderContent>
                                                    <MudText Typo="Typo.body1">Prijevoz</MudText>
                                                    <MudText Typo="Typo.body2">Hrvatska</MudText>
                                                </CardHeaderContent>
                                                <CardHeaderActions>
                                                    <MudIconButton Icon="@Icons.Material.Filled.Details" Color="Color.Default" />
                                                </CardHeaderActions>
                                            </MudCardHeader>
                                            <MudCardContent>
                                                <MudText Typo="Typo.h5">Od: </MudText>
                                                <MudText Typo="Typo.body2">@item.Adresa.Polaziste</MudText>
                                                <MudText Typo="Typo.h5">Do: </MudText>
                                                <MudText Typo="Typo.body2">@item.Adresa.Odrediste</MudText>
                                            </MudCardContent>
                                            <MudCardActions>
                                                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                                            </MudCardActions>
                                        </MudCard>
                                    </MudPaper>
                                }
                    }
                    break;
                default:
                    break;
            }
            <MudItem xs="12">
                <div class="d-flex justify-space-between">
                    <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowLeft" Size="Size.Large" @onclick="SetPreviousItemActive"></MudIcon>
                    <MudIcon Icon="@Icons.Material.Outlined.KeyboardArrowRight" Size="Size.Large" @onclick="SetNextItemActive"></MudIcon>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>


